.cursor-pointer {
  cursor: pointer;
}




.text-title {
  font-family: 'Yeseva One', cursive;
}
.text-title-content {
  font-family: 'Noto Sans TC', sans-serif;
}

.category-button {
  border-left: 4px solid #000 !important;
  &:hover{
    background: #000;
    color: #fff !important; 
  }
}