<div class="border-bottom border-dark border-3 mb-4 py-4">
  <div class="container d-flex align-items-center px-0 ">
    <a href="index.html" class="d-flex align-items-center text-dark">
      <img src="../assets/images/logo.png" alt="logo" class="logo me-3">
      <h1 class="fs-2 me-1 fw-bold text-title d-none d-lg-block">7TAO</h1>
      <span class="fs-6 fw-bold me-5 d-none d-lg-block">活動訂票網</span>
    </a>
    <div class="d-flex">
      <input type="text" 
            class="nav-input form-control ps-3 py-3 border border-end-0 border-dark border-3 rounded-0" 
            placeholder="探索活動" 
            aria-label="探索活動" 
            aria-describedby="basic-addon2">
      <button type="button" class="material-icons input-group-text d-flex align-items-center px-3 bg-dark text-white">
        search
      </button>
    </div>

    <div class="ms-auto me-3 d-flex d-none d-lg-block">
      <a class="icon-link text-dark" href="#">
        <span class="material-icons">
          description
        </span>
        REGISTER
      </a>
    </div>
    <div class="d-flex d-none d-lg-block">
      <a class="icon-link text-dark" href="#">
        <span class="material-icons">
          person
        </span>
        LOGIN
      </a>
    </div>

    <button type="button" class="nav-button d-flex justify-content-center align-items-center bg-white rounded-1 d-block d-lg-none ms-auto">
      <span class="material-icons fs-1">
        menu
      </span>
    </button>
  </div>
</div>