.tag-checkbox {
  display: none;
}
.tag-list {
  .tag-item {
    position: relative;
    border-left: 4px solid $black;
  }
  .tag-item:focus {
    box-shadow: none;
  }
  // 當 .tag-item 被 hover 的時候 .tag-item 加入以下樣式
  .tag-item:hover,
   // 當 .tag-item 同層有 .active 的時候 .tag-item 加入以下樣式
  .tag-item.active,
     // 當 .tag-checkbox 狀態是 checked 的時候，同階層的 .tag-item 加入以下樣式
  .tag-checkbox:checked + .tag-item {
    background-color: #000;
    color: $white;
    &::before {
      position: absolute;
      content: "";
      width: 4px;
      background-color: $primary;
      height: calc(100% + 4px);
      top: -2px;
      left: -4px;
    }
  }
}

.page-link {
  min-width: 40px;
  min-height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-outline-black {
  border-color: $black;
}