.bg-banner {
  background-image: url(../images/event/13.jpg);
  height: 518px;
  background-position: center center;
  background-size: cover;
}
.section2-img {
  width: 72px;
  height: 72px;
  @media (max-width:768px) {
    width: 40px;
    height: 40px;
  }
}
.explore-button {
  height: 196px;
  @media (max-width:768px) {
    height: 112px;
  }
}


.bg-online-img {
  background-image: url(../images/event/online.jpg);
  background-repeat:no-repeat;
  height: 317px;
  background-position: center center;
  background-size: cover;
}



.albums-card-img {
  height: 274px;
  object-fit: cover;
}
